body > div > div,
body > div > div > a {
	font-family: LibertineCaps;
	font-size: 11px;
	letter-spacing: 2px;
	width: 40%;
}

body > div > div:nth-child(1) {
	width: 100%;
	font-size: 32px;
	letter-spacing: 6px;
	text-align: center;
	line-height: 50%;
}

body > div > div:nth-child(2) {
	float: left;
}

body > div > div:nth-child(3) {
	float: right;
	text-align: right;
}

body > div {
	margin-bottom: 40px;
}

body > div.include-summary > div:nth-child(2),
body > div.include-summary > div:nth-child(3) {
	margin-top: 5px;
}
body > div.include-summary > div:nth-child(2),
body > div.include-summary > div:nth-child(2) *,
body > div.include-summary > div:nth-child(3),
body > div.include-summary > div:nth-child(3) * {
	font-size: 13px;
}
body > div.include-summary > div:nth-child(2) a,
body > div.include-summary > div:nth-child(3) a {
	color: #000090;
}

body > div.include-summary > div:nth-child(4) {
	width: 100%;
	left: 0px;
	margin-top: 15px;
	text-align: center;
	position: absolute;
}
body > div.include-summary > div:nth-child(4),
body > div.include-summary > div:nth-child(4) * {
	font-family: Libertine;
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 125%;
}

body > div.include-summary {
	margin-bottom: 75px;
}

body > span:before {
	display: block;
	width: 100%;
	padding-bottom: 2px;
	border-bottom: 1px black solid;
	font-family: LibertineBold;
	font-weight: bold;
	content: attr(name);
}

body > span {
	display: block;
	width: 100%;
	margin-bottom: 10px;
	clear: both;
}

body > span.header {
	margin-bottom: 5px;
}

body > span.subsection:before {
	padding-bottom: 0;
	border-bottom: 1px rgba(0, 0, 0, 0.5) dashed;
}

body > span.subsection {
	margin-top: -3px;
}

body > span.subsection > div {
	margin-top: 4px;
}

.left {
	float: left;
	width: 60%;
	margin-bottom: 30px;
}

.right {
	float: right;
	width: 37.5%;
	clear: none;
	margin-bottom: 30px;
}

div[date]:before {
	float: right;
	font-family: Libertine;
	font-weight: normal;
	font-style: normal;
	text-align: right;
	content: attr(date);
}

div[date] {
	float: left;
	width: calc(100% - 34px);
}

div[date] + * {
	clear: both;
}

div[detail]:after {
	font-family: LibertineItalic;
	font-style: normal;
	font-weight: normal;
	margin-left: 15px;
	content: attr(detail);
}

body > span > div {
	font-family: LibertineBold;
	font-weight: bold;
	margin-left: 20px;
	margin-top: 5px;
	margin-bottom: 2.5px;
}
body > span > div + span strong {
	font-family: Libertine;
	font-weight: bold;
	font-size: 14.5px;
	margin-right: 2px;
}
body > span > div + span strong:not(:first-child) {
	margin-left: 2px;
}
body > span.long > div {
	margin-bottom: 15px;
}

body > span span {
	display: block;
	margin-left: 30px;
}
body > span li span {
	display: unset;
	margin-left: unset;
}
body > span.long span {
	margin-top: 15px;
}
body > span.long strong + span {
	margin-top: 0;
}

body > span > span {
	margin-left: 40px;
	margin-bottom: 15px;
}

body > span > *:last-child {
	margin-bottom: 0;
}

.compact > div:before {
	float: left;
	width: 20%;
	margin-left: 20px;
	text-align: left;
	font-family: LibertineBold;
	font-weight: bold;
	content: attr(name);
}

.compact > div {
	float: right;
	width: 100%;
	font-family: Libertine;
	font-weight: normal;
	transform: translateX(10px);
}

.compact > div:last-child {
	margin-bottom: 20px;
}

.semicompact > span {
	margin-bottom: 5px;
}

.left.semicompact,
.right.semicompact {
	margin-bottom: 10px;
}

ul {
	margin: 0px;
}

slash:before,
point:before,
gap:before,
dash:before {
	margin: 0px 5px;
}

slash:before {
	content: '/';
}

point:before {
	content: '\2022';
}

gap:before {
	content: '\0000a0';
}

dash:before {
	content: '\2013';
}

b,
b > *,
strong,
strong > *,
th,
th > * {
	font-family: LibertineBold;
	font-weight: normal;
}

tr {
	height: 25px;
}

strong {
	margin-right: 15px;
}

br + strong {
	margin-top: 5px;
	display: inline-block;
}

i {
	font-family: LibertineItalic;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #000099;
}

.detail-link {
	position: absolute;
	margin-top: -18.5px;
	right: 120px;
}
.detail-link.narrow {
	right: 60px;
}

body > span li {
	margin-top: 8px;
}

body > span li strong {
	margin-right: unset;
}

body > span li > p {
	margin-left: 15px;
	margin-top: 0;
	margin-bottom: 0;
}

body > span li > p:before {
	content: '- ';
}

table {
	width: 96%;
	margin-left: 20px;
	border: 0;
}

th,
td {
	text-align: left;
}

body > span:last-child {
	padding-bottom: 50px;
}

* {
	font-family: Libertine;
	font-size: 14px;

	-ms-word-break: break-all;
	word-break: break-all;
	word-break: break-word;
	word-break: hyphenate;
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	hyphens: auto;
}

@font-face {
	font-family: 'Libertine';
	src: url('fonts/LinLibertine_R.woff');
}

@font-face {
	font-family: 'LibertineBold';
	src: url('fonts/LinLibertine_RB.woff');
}

@font-face {
	font-family: 'LibertineItalic';
	src: url('fonts/LinLibertine_RI.woff');
}

@font-face {
	font-family: 'LibertineCaps';
	src: url('fonts/LinLibertine_aS.woff');
}
